body {
    margin: 0;
    color: #40514E;
    text-align: center;
    font-family: 'Merriweather', serif;
}
h1 {
    margin-top: 0;
    width: 100%;
    font-size: 300%;
    margin: 0 auto;
    font-family: 'Sacramento', cursive;
    font-weight: 1000;
    color: rgb(174, 239, 109);
}
h2 {
    font-family: 'Montserrat', sans-serif;
    color: rgb(130, 234, 199);
    padding-bottom: 10px;
    font-weight: 1000;
    margin-top: 50px;
}
h3 {
    font-family: 'Montserrat', sans-serif;
    color: rgba(101, 199, 60, 0.79);
    font-weight: 1000;
}
.TheTopContainer {
    background-color:#dae5ff;
    position: relative;
    padding-top: 200px;
}

.a {
    position: relative;
    left: 250px;
    top: 0;
}
.b {
    position: relative;
    left: 100px;
    bottom: 500px;
}
.m {
    position: relative;
    right: 40px;
}
.skill-row  {
    width: 50%;
    margin: 100px auto;
    text-align: left ;
}
.skill {
    padding-right: 30px;
    float: left;
    /* margin-top: 30px; */
    margin-bottom: 100px;
}
.web {
    width: 50%;
    float: right;
}
.para {
    margin-bottom: 400px;
}
.para2 {
    margin-bottom: 500px;
}
.leetcode {
    font-family: serif;
    width: 300%;
    text-align: left;
}
.profile {
    margin-top: 50px;
}
.footer {
    height: 100px;
    background-color: #dae5ff;
    margin-top: 200px;
    margin-bottom: 0;
    padding-top: 50px;
}
.footer-link {
    text-decoration: none;
}
.footer-link:hover {
    color: #a554b5;
}
.profile {
    margin: 80px 0;
}
hr {
    border-style: dotted none none;
    border-width: 6px;
    height: 0px;
    width: 5%;
    border-color: #cdece7;
}
.intro {
    width: 30%;
    margin: 10px auto
}
.contact {
    width: 40%;
    margin: auto;
}
.msg {
    width: 40%;
    margin: auto;
    padding-bottom: 50px;
}
.btn {
    /* margin-top: 30px; */
    background: #74d4b7;
    background-image: -webkit-linear-gradient(top, #74d4b7, #778791);
    background-image: -moz-linear-gradient(top, #74d4b7, #778791);
    background-image: -ms-linear-gradient(top, #74d4b7, #778791);
    background-image: -o-linear-gradient(top, #74d4b7, #778791);
    background-image: linear-gradient(to bottom, #74d4b7, #778791);
    -webkit-border-radius: 17;
    -moz-border-radius: 17;
    border-radius: 17px;
    font-family: Courier New;
    color: #ffffff;
    font-size: 25px;
    padding: 8px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #d296d9;
    background-image: -webkit-linear-gradient(top, #d296d9, #8bd6af);
    background-image: -moz-linear-gradient(top, #d296d9, #8bd6af);
    background-image: -ms-linear-gradient(top, #d296d9, #8bd6af);
    background-image: -o-linear-gradient(top, #d296d9, #8bd6af);
    background-image: linear-gradient(to bottom, #d296d9, #8bd6af);
    text-decoration: none;
  }
